dist: trusty
language: php
php:
  - 5.5
  - 5.6
  - 7.0
env:
  global:
    - secure: "BzT43wnD8ubl3qKC0WGyKktTXP1luJVC2kL5WA9EeBt+hvmZWVQjcJkFb5oa/SofIsDSGhvxzY6SjfCjkD49L0pKWpWIEZMWcNJV72CrW/LhP4YI3H68c3UIssV1R1BsrQie9MMM+N5X2K7IaeyHvf/zQkjyQukGVVpYrz+Ze1GF0dlR5+ux6Y6VU7MAJewzyj+hYoyqpHawTFMjAsKr7UOToHP34ejBWQzm863H3NeiXa701rysrliqy+EYDmh43tyCTA8CObXufXcOAcF3kmR3P9RAGFAhi3nkFstKvGeDanFM1JS1TSQnX799jUNXftCTja43e6O25N2b+t005976lz9/VDZcqtIcXLGbPZnESqCq7YEyFfJpfoJ828KGxnAmU/cixyHQZIyudY0PBnl/bqroXpgNiHhAzylcaHWbXk0HcCF1mStMfWhCjX/KVZL5ycRBWv9srj0g1Fy0SKha5dCnBJq4+kd0qM2erv/G7QejsMeBuYE3OtQnNJj9nvleM/2eSFqojvMYLO8uC23Omyi+7JmOvCV/NyHlV5qZLAPrdqmwirIJ4nkZvil+ltGCrQoZH8wjkJJdMKlZ6Xoe/Ercm9SJtcHXuqxaif+Vh0ZGJr/zcXG20UZAbHXYx3t8CeZXJetNdil2cQ1M3h8VITRFmsvcA4Nnmi92+Lw="
    - secure: "ENxjSyl25GVMEvUurGuSd7mtKQPLmU6xvJUr7iV2pfnmZJV0jjjLk+9Vs81sy+6N6/PieeyWkDKlxBvXBaPrKPF2vN/yhlwrY4oPWfqOHCD3nbkf2j6bmrhFoJ6uQD9PNZqirZQ7E3Ok+8bQYPfzEpU/qyW+fBV5V2S7bwOo4KZsQaSAtkUMMH+5roDo7aorWBIKz2XAf3+UU5lUW8/8wrzECh2d/Cl2G/7D59Gtn7uKRSjCBorRtk3/cFexF3f/LLA6IMM6ME9WmriNcZP7xhNyUExZKkFyeb5Z8278eIvZ8I9TRtzUGb2o0waqKwgsAr2/QrtmBXPveIQM3xxzKTksh0hw6jc5PChu4SPVhCDP0B9irVR7uFY+NPipy1EFGfBDo0DTZa+vp5QeRqu8T/e/qivvT1TJL5iqYvwPT5xW1Xk8UQM5T2KfdtXr1/B63TPkRhXrztwZXqVygy/8nZ/3Cut6RtfQW+4QukRFLhmnAIGsf+9oqVWyjxeybyyGFc7bhdt67aFlW8qzmqvzbtWaIYw/zoTjUZzuMBsHjo9jIJNIwkJHaL0EqZFyoCAZWauRj1dHgU3geRA22cUS/S4UTXueIGqpxBt8PAGCNf86v07iVWj/d1gWW6NR0w1TxRevM4X29I9fxRbQQcOFeGEt9i8o6uUEfztZbkC3o4c="
  matrix:
    - TEST_SUITE=unit
    - TEST_SUITE=phpcs

install:
- echo "{\"http-basic\":{\"repo.magento.com\":{\"username\":\"${MAGENTO_USERNAME}\",\"password\":\"${MAGENTO_PASSWORD}\"}}}" > auth.json
- composer install --prefer-dist
notifications:
  hipchat:
    rooms:
      secure: bM2ia9UiRcc/nudnEuU0fib564KScItsMG+RAJuTfOfhGrkoxW1RGOFHl75WVUupv4BswNyvUQezU+NQn6clRojfhOvVVJeN2GPPfh0Tl7ClmkOqNl5Uyooxt4wg9Gn+bu0Cl9uLHA9IaANR5Z1j+c9EBNnacOOdjPamHEAPH7Aw9n+mN3kx77NUe/uJmdUbqUUyuCzFz86zPNYT4cxDlFEGu8HpM6HC88DyUb6q0ZbeVH16YdZwNLgS15AlKiN2ZiqGnDiU8GxCdSHFg/JZ3bqY154ZH3IGnqAe0/FURErch5DNqTBhjqaqidTZyuZrST3sxq9+M3K7VkuiWLTVDQ7+FIrHk2t2Xu8obd5geTeLieBUarG5P7vGCerDR8XLwGXzEaihiG6jcb1MN/trDQdofABXc0zOtkTW1C1R+byBhCZIBITIk5rPyvKO9aVgl/MEqqYvh14JBpXrfFqOuxGTpoOKCwXVL6BzaB6EIh5aD6yWQx2rqaXUGAl1NBolBdMBJNLPXI5WeknWSpL83gMegrVbixH6si9ivynkpo/Thq8vERXVVM8RRKlD8b9/Yhep5vJCFA33uweNX6Y1k+7uEVara3OQnKHUiF5Fh4YnozYX7L8lSKOhhGJU+zg76ANyfVXIUY4WSIgsUMEAPA4GmfusNMPb0HxIOs+FJwI=