dist: trusty
language: php
php:
  - 7.2
  - 7.3
services:
  - mysql
sudo: required
env:
  matrix:
    - TEST_SUITE=unit
    - TEST_SUITE=phpcs
    - TEST_SUITE=configurator
      MAGE_VERSION=2.2.5
    - TEST_SUITE=configurator
      MAGE_VERSION=2.3.1
    - TEST_SUITE=configurator
      MAGE_VERSION=2.3.2
    - TEST_SUITE=configurator
      MAGE_VERSION=2.3.3

matrix:
  allow_failures:
    - php: 7.2
    - env: TEST_SUITE=configurator MAGE_VERSION=2.2.5

before_install:
  - echo "{\"http-basic\":{\"repo.magento.com\":{\"username\":\"${MAGENTO_USERNAME}\",\"password\":\"${MAGENTO_PASSWORD}\"}}}" > auth.json
  - sh -c "if [ '$TEST_SUITE' = 'phpcs' ]; then composer require magento/framework:~101.0; fi"
  - sh -c "if [ '$TEST_SUITE' = 'unit' ]; then composer require magento/framework:~101.0; fi"
  - sh -c "if [ '$TEST_SUITE' = 'unit' ]; then composer require magento/module-catalog:~102.0; fi"
  - sh -c "if [ '$TEST_SUITE' = 'unit' ]; then composer require magento/zendframework1:~1.14.0; fi"
install:
  - sh -c "if [ '$TEST_SUITE' = 'phpcs' ]; then composer install --prefer-dist; fi"
  - sh -c "if [ '$TEST_SUITE' = 'unit' ]; then composer install --prefer-dist; fi"
before_script:
  - sh -c "if [ '$TEST_SUITE' = 'configurator' ]; then ./Test/Integration/setup-magento.sh $MAGE_VERSION; fi"
script:
  - sh -c "if [ '$TEST_SUITE' = 'phpcs' ]; then php vendor/bin/phpcs --standard=PSR2 Model/ Console/ Test/ Component/ Api/ Exception/; fi"
  - sh -c "if [ '$TEST_SUITE' = 'phpcs' ]; then php vendor/bin/phpmd Model/,Console/,Test/,Component/,Api/,Exception/ text cleancode,codesize,controversial,design,naming,unusedcode; fi"
  - sh -c "if [ '$TEST_SUITE' = 'phpcs' ]; then php vendor/bin/phpcpd Model/ Console/ Test/ Component/ Api/ Exception/; fi"
  - sh -c "if [ '$TEST_SUITE' = 'unit' ]; then php vendor/bin/phpunit --coverage-clover build/logs/clover.xml Test/Unit/; fi"
  - sh -c "if [ '$TEST_SUITE' = 'configurator' ]; then ./Test/Integration/run-configurator.sh; fi"
notifications:
  slack:
    rooms:
      secure: BWl/riMVP1ANjN0GyVdgBslI+eK5sz7g3s2fQtyyq7SPgWjrz5XpU0a5TcSQWa12wseY1mS09ln0UUMDYvpXucBhIqnB4LMYFHJyeKSbp232L+mQ6INM7xgBkwzsAtdQ8UqFSPWPbpUW+7Ah2DLEo2RSSfbvZIHD4ylEUJ0xDjOUzZicLdUbPSLO1NZV9JfHYHAHnsudRskoPVQ53dSSy3j5i9g9iDMTQAjzDAWRW8fEFWxfnyuggMA4Quwi+jUxOH38L6BsmZfje6K54dfBTcmTHHTxdinbOHiem9jSN/dDxp6EXSLTCxX4+qtd8ix/KRUTXj0BJbamO/HgzgYhSBjTwsJjwvnjCwnhNgsL08e8nxIEOmXrMxddMUJK9Qh8Rt5DzGTxSs2B+GRfuiFTAuwjI166k3wkxDnYrltxmvl4L8icoCsd7rVTNnwWNvPBdKkOB6tE1lGu98hIcGZ1lbPE14+oRFATpnanDiGffFgdxEbyDeQBRc4aqZYgFd2lR5SRRdy1p6ysQAJNDRGp/nIqzctLrrBYeGOcVk0WOpYmzUTVMIWiYrI36l4Hv+OJ+x+Aei7GJfBozVRu+/BPWx3RUNvt67c2flc/OPFhzX75yc+zJUsAy2yWN/qW6wJmzEc/wU2IIFL/EKIQl7dD02pdXXBxk0d9thy1GWK4exk=
