<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="CtiDigital\Configurator\Model\ConfiguratorAdapterInterface"
                type="CtiDigital\Configurator\Model\ConfiguratorAdapterInterface\Proxy"/>
    <preference for="CtiDigital\Configurator\Model\Configurator\ConfigInterface"
                type="CtiDigital\Configurator\Model\Configurator\Config" />
    <preference for="CtiDigital\Configurator\Model\LoggerInterface"
                type="CtiDigital\Configurator\Model\Logging" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="configurator" xsi:type="object">CtiDigital\Configurator\Console\Command\ConfiguratorCommand</item>
                <item name="configurator:list" xsi:type="object">CtiDigital\Configurator\Console\Command\ListCommand</item>
                <item name="configurator:run" xsi:type="object">CtiDigital\Configurator\Console\Command\RunCommand</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="CtiDigital\Configurator\Setup\Module\DataSetup" type="Magento\Setup\Module\DataSetup">
        <arguments>
            <argument name="context" xsi:type="object">Magento\Framework\Module\Setup\Context</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Eav\Setup\EavSetup">
        <arguments>
            <argument name="setup" xsi:type="object">CtiDigital\Configurator\Setup\Module\DataSetup</argument>
        </arguments>
    </type>
</config>