<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="CtiDigital\Configurator\Model\ConfiguratorAdapterInterface"
                type="CtiDigital\Configurator\Model\ConfiguratorAdapterInterface\Proxy"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="configurator" xsi:type="object">CtiDigital\Configurator\Console\Command\ConfiguratorCommand</item>
                <item name="configurator:list" xsi:type="object">CtiDigital\Configurator\Console\Command\ListCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="CtiDigital\Configurator\Console\ComponentList">
        <arguments>
            <argument name="components" xsi:type="array">
                <item name="websites" xsi:type="object">CtiDigital\Configurator\Model\Component\Websites</item>
            </argument>
        </arguments>
    </type>
</config>